# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"

  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      # Group together updates to noodles as there are peer dependencies.
      # 
      # Also add "reverse" transitive dependencies.
      noodles:
        patterns:
          - "annonars"
          - "hgvs"
          - "seqrepo"
          - "noodles-*"
