tests/data/db/create/txs/latest/** filter=lfs diff=lfs merge=lfs -text
tests/data/vars/*.vcf* filter=lfs diff=lfs merge=lfs -text
tests/data/vars/*.tsv* filter=lfs diff=lfs merge=lfs -text
tests/data/** filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
