flamegraph.svg
perf.*

/target
#/Cargo.lock

*:Zone.Identifier

*~
.*.sw?
/.vscode

## Protocolbuffers library

utils/var

**.jsonl
**.vcf
**.gz
**.bgz
**.fai
**.gzi
**.fasta
**.ped
!.gitignore

mehari-python/.venv
