[package]
name = "mehari"
version = "0.1.0"
edition = "2021"
authors = ["Manuel Holtgrewe <manuel.holtgrewe@bih-charite.de>"]
description = "Variant effect prediction all in Rust"
license = "MIT"
homepage = "https://github.com/bihealth/mehari"
readme = "README.md"

[features]
default = []

documentation = []

[package.metadata.docs.rs]
all-features = true

[[bin]]
name = "mehari"

[dependencies]
anyhow = "1.0.69"
byteorder = "1.4.3"
byte-unit = "4.0.18"
clap = { version = "4.1.8", features = ["derive"] }
clap-verbosity-flag = "2.0.0"
csv = "1.2.0"
flatbuffers = "23.1.21"
flate2 = "1.0.25"
hgvs = "0.5.2"
lazy_static = "1.4.0"
log = "0.4.17"
noodles = { version = "0.34.0", features = ["vcf", "bcf", "csi", "fasta", "bgzf", "tabix"] }
noodles-util = { version = "0.6.0", features = ["noodles-bcf", "noodles-bgzf", "noodles-vcf", "variant"] }
procfs = "0.15.1"
rocksdb = "0.20.1"
seqrepo = "0.3.0"
serde = { version = "1.0.152", features = ["derive"] }
serde_json = "1.0.94"
tracing = { version = "0.1.37", features = ["log"] }
tracing-subscriber = "0.3.16"
indicatif = "0.17.3"
thousands = "0.2.0"
memmap2 = "0.5.10"
bio = "1.1.0"
parse-display = "0.8.0"
nom = "7.1.3"
linked-hash-map = "0.5.6"
enumset = { version = "1.0.12", features = ["serde"] }
bincode = "1.3.3"
bgzip = "0.3.1"
rustc-hash = "1.1.0"

[build-dependencies]
flatc-rust = "0.2.0"

[dev-dependencies]
csv = "1.2.0"
pretty_assertions = "1.3.0"
temp_testdir = "0.2.3"
