[package]
name = "mehari"
version = "0.5.7"
edition = "2021"
authors = ["Manuel Holtgrewe <manuel.holtgrewe@bih-charite.de>"]
description = "Variant effect prediction all in Rust"
license = "MIT"
homepage = "https://github.com/bihealth/mehari"
readme = "README.md"
rust-version = "1.64.0"

[features]
default = []

documentation = []

[package.metadata.docs.rs]
all-features = true

[lib]
name = "mehari"
path = "src/lib.rs"

[[bin]]
name = "mehari"
path = "src/main.rs"

[dependencies]
actix-web = "4.3"
annonars = "0.12"
anyhow = "1.0"
bgzip = "0.3"
bio = "1.3"
byte-unit = "4.0"
byteorder = "1.4"
chrono = "0.4"
clap = { version = "4.3", features = ["derive"] }
clap-verbosity-flag = "2.0"
csv = "1.2"
derivative = "2.2"
env_logger = "0.10"
flate2 = "1.0"
hgvs = "0.9"
indexmap = "1.9"
indicatif = "0.17"
jsonl = "4.0"
lazy_static = "1.4"
log = "0.4"
nom = "7.1"
noodles-bgzf = "0.22"
noodles-core = "0.12"
noodles-csi = "0.21"
noodles-fasta = "0.25"
noodles-tabix = "0.24"
noodles-vcf = "0.33"
parse-display = "0.8"
procfs = "0.15"
prost = "0.11"
quick_cache = "0.3"
rand = "0.8"
rand_core = "0.6"
rocksdb = { version = "0.21", features = ["multi-threaded-cf"] }
rustc-hash = "1.1"
seqrepo = "0.6"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_with = "3.0"
strum = { version = "0.25", features = ["derive"] }
tempdir = "0.3"
thousands = "0.2"
tracing = { version = "0.1", features = ["log"] }
tracing-subscriber = "0.3"
uuid = { version = "1.4", features = ["fast-rng", "serde"] }
zstd = "0.12"

[build-dependencies]
prost-build = "0.11"

[dev-dependencies]
csv = "1.2"
insta = { version = "1.30", features = ["yaml"] }
pretty_assertions = "1.3"
rstest = "0.17"
temp_testdir = "0.2"
