[package]
name = "mehari"
version = "0.3.1"
edition = "2021"
authors = ["Manuel Holtgrewe <manuel.holtgrewe@bih-charite.de>"]
description = "Variant effect prediction all in Rust"
license = "MIT"
homepage = "https://github.com/bihealth/mehari"
readme = "README.md"
rust-version = "1.64.0"

[features]
default = []

documentation = []

[package.metadata.docs.rs]
all-features = true

[[bin]]
name = "mehari"

[dependencies]
anyhow = "1.0"
byteorder = "1.4"
byte-unit = "4.0"
clap = { version = "4.1", features = ["derive"] }
clap-verbosity-flag = "2.0"
csv = "1.2"
flate2 = "1.0"
hgvs = "0.8"
lazy_static = "1.4"
log = "0.4"
procfs = "0.15"
rocksdb = { version = "0.21", features = ["multi-threaded-cf"] }
seqrepo = "0.5"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
tracing = { version = "0.1", features = ["log"] }
tracing-subscriber = "0.3"
indicatif = "0.17"
thousands = "0.2"
memmap2 = "0.6"
bio = "1.1"
parse-display = "0.8"
nom = "7.1"
linked-hash-map = "0.5"
enumset = { version = "1.0", features = ["serde"] }
bincode = "1.3"
bgzip = "0.3"
rustc-hash = "1.1"
quick_cache = "0.3"
uuid = { version = "1.3", features = ["fast-rng", "serde"] }
strum = { version = "0.24", features = ["derive"] }
tempdir = "0.3"
jsonl = "4.0"
chrono = "0.4"
rand_core = "0.6"
rand = "0.8"
prost = "0.11"
zstd = "0.12"
noodles-core = "0.11"
noodles-vcf = "0.31"
noodles-bcf = "0.28"
noodles-csi = "0.19"
noodles-fasta = "0.23"
noodles-bgzf = "0.22"
noodles-tabix = "0.22"
#annonars = "0.7"
annonars = { git = "https://github.com/bihealth/annona-rs.git", branch = "73-port-over-clinvar-import-from-mehari" }

[build-dependencies]
prost-build = "0.11.9"

[dev-dependencies]
csv = "1.2.0"
pretty_assertions = "1.3.0"
temp_testdir = "0.2.3"
rstest = "0.17.0"
insta = { version = "1.29.0", features = ["yaml"] }
