[package]
name = "mehari"
version = "0.17.0"
edition = "2021"
authors = ["Manuel Holtgrewe <manuel.holtgrewe@bih-charite.de>"]
description = "Variant effect prediction all in Rust"
license = "MIT"
homepage = "https://github.com/bihealth/mehari"
readme = "README.md"
rust-version = "1.64.0"

[features]
default = []

documentation = []

[package.metadata.docs.rs]
all-features = true

[lib]
name = "mehari"
path = "src/lib.rs"

[[bin]]
name = "mehari"
path = "src/main.rs"

[dependencies]
actix-web = "4.4"
annonars = "0.24"
anyhow = "1.0"
async-compression = { version = "0.4", features = ["tokio", "gzip"] }
bgzip = "0.3"
bio = "1.3"
biocommons-bioutils = "0.1.4"
byteorder = "1.4"
byte-unit = "4.0"
chrono = "0.4"
clap-verbosity-flag = "2.0"
clap = { version = "4.4", features = ["derive"] }
csv = "1.3"
derivative = "2.2"
derive_builder = { version = "0.12", features = ["clippy"] }
env_logger = "0.10"
flate2 = "1.0"
futures = "0.3"
hgvs = "0.13"
indexmap = { version = "2.1", features = ["serde"] }
indicatif = "0.17"
jsonl = "4.0"
lazy_static = "1.4"
log = "0.4"
nom = "7.1"
noodles-bgzf = { version = "0.25", features = ["async"] }
noodles-core = "0.12"
noodles-csi = "0.27"
noodles-fasta = "0.30"
noodles-tabix = "0.33"
noodles-vcf = { version = "0.46", features = ["async"] }
parse-display = "0.8"
procfs = "0.16"
prost = "0.12"
quick_cache = "0.4"
rand = "0.8"
rand_core = "0.6"
rocksdb = { version = "0.21", features = ["multi-threaded-cf"] }
rustc-hash = "1.1"
seqrepo = "0.9"
serde_json = "1.0"
serde = { version = "1.0", features = ["derive"] }
serde_with = { version = "3.3", features = ["indexmap_2"] }
serde_yaml = "0.9"
strum = { version = "0.25", features = ["derive"] }
tempfile = "3"
thousands = "0.2"
tokio = { version = "1.33", features = ["full"] }
tracing-subscriber = "0.3"
tracing = { version = "0.1", features = ["log"] }
uuid = { version = "1.4", features = ["fast-rng", "serde"] }
zstd = "0.13"

[build-dependencies]
prost-build = "0.12"

[dev-dependencies]
async-std = { version = "1.12", features = ["attributes"] }
csv = "1.3"
hxdmp = "0.2"
insta = { version = "1.34", features = ["yaml"] }
pretty_assertions = "1.4"
rstest = "0.18"
temp_testdir = "0.2"
tracing-test = "0.2"
